<script setup lang="ts">
import PredictionGraph from "@/components/PredictionGraph.vue";
import { computed } from "vue";

const props = defineProps<{
  userId: string;
  clearedMarket: ClearedMarket;
  predictionId: string;
  context: {
    title: string;
    condition: string;
    description: string;
    end: string;
  };
}>();

const myStats = computed(() => {
  return props.clearedMarket.playerStats[props.userId];
});
</script>

<template>
  <div id="prediction-wrapper">
    <div id="context">
      <h1>{{ props.context.title }}</h1>
      <p id="condition">
        <em>{{ props.context.condition }}</em>
      </p>
      <p id="description">{{ props.context.description }}</p>
      <p id="end">
        The market runs until {{ new Date(props.context.end).toString() }}
      </p>
      <div v-if="myStats" class="prediction-stats">
        <h3>My Prediction Stats</h3>
        <p>Cash balance: {{ "€" + (myStats.cash / 100).toFixed(2) }}</p>
        <p>YES shares: {{ myStats.yesShares }} ({{ myStats.yesBids }} bids)</p>
        <p>NO shares: {{ myStats.noShares }} ({{ myStats.noBids }} bids)</p>
      </div>
    </div>

    <div id="prediction">
      <PredictionGraph
        :userId="props.userId"
        :outstandingOrders="clearedMarket.outstandingOrders"
        :predictionId="props.predictionId"
      />
    </div>
  </div>
</template>

<style>
#prediction {
  flex: 400px;
}

#context {
  flex: 400px;
}

#prediction-wrapper > * {
  margin: 20px;
}

#context p {
  margin-top: 10px;
}

#prediction-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
</style>
