<script setup lang="ts">
import Modal from "@/components/Modal.vue";
import { reactive } from "vue";

const emit = defineEmits(["close", "addPrediction"]);

const predictionData = reactive({
  end: "", // double check that this works and will be fine with string output
  description: "",
  title: "",
  condition: "",
});

function submitForm() {
  const dateRegex = /\d\d\d\d-\d\d-\d\d/;
  if (!predictionData.end.match(dateRegex)) return;
  if (!predictionData.title) return;
  if (!predictionData.condition) return;

  emit("addPrediction", predictionData);
  emit("close");
}
</script>

<template>
  <Modal>
    <template #header>Add Prediction</template>
    <template #body>
      <form class="prediction-form">
        <p>
          <label for="title">Title</label>
          <input name="title" v-model="predictionData.title" />
        </p>
        <p>
          <label for="condition">Condition</label>
          <textarea
            rows="3"
            name="condition"
            v-model="predictionData.condition"
          >
          </textarea>
        </p>
        <p>
          <label for="description">Description</label>
          <textarea
            rows="5"
            name="description"
            v-model="predictionData.description"
          >
          </textarea>
        </p>
        <p>
          <label for="end">End</label>
          <input type="date" name="end" v-model="predictionData.end" />
        </p>
      </form>
    </template>
    <template #footer>
      <div class="footer-row">
        <button class="cancel-button" @click="emit('close')">Cancel</button>
        <button class="add-button" @click="submitForm">Add Prediction</button>
      </div>
    </template>
  </Modal>
</template>

<style scoped>
.prediction-form p {
  display: block;
}

.prediction-form label {
  display: block;
}

.prediction-form input,
.prediction-form textarea {
  display: block;
  width: 100%;
  resize: none;
}

.cancel-button {
  background-color: #cf4b5d;
}

.cancel-button:hover {
  background-color: #cf4b5dba;
}

.add-button {
  background-color: #0dbd8b;
}

.add-button:hover {
  background-color: #0dbd8b8a;
}
.footer-row {
  display: flex;
}

.footer-row button {
  flex: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
</style>
