<script setup lang="ts">
import Modal from "@/components/Modal.vue";
import { ref } from "vue";

const emit = defineEmits(["close", "changeCash"]);

const props = defineProps<{
  cash: number | null;
}>();

const cashDelta = ref(0);

function submit() {
  emit("changeCash", cashDelta.value * 100);
  emit("close");
}
</script>

<template>
  <Modal>
    <template #header>Set Cash</template>
    <template #body>
      <p>
        Record a cash deposit or a cash withdrawal by adding a positive or
        negative number of euros respectively. Your balance with the market
        currently is €{{ ((props.cash ?? 0) / 100).toFixed(2) }}.
      </p>
      <input v-model.number="cashDelta" />
      <p>
        New balance would be: €{{
          (((props.cash ?? 0) + cashDelta * 100) / 100).toFixed(2)
        }}
      </p>
    </template>
    <template #footer>
      <div class="footer-row">
        <button class="cancel-button" @click="emit('close')">Cancel</button>
        <button class="add-button" @click="submit">Change Cash</button>
      </div>
    </template>
  </Modal>
</template>

<style scoped>
.prediction-form p {
  display: block;
}

.prediction-form label {
  display: block;
}

.prediction-form input,
.prediction-form textarea {
  display: block;
  width: 100%;
  resize: none;
}

.cancel-button {
  background-color: #cf4b5d;
}

.cancel-button:hover {
  background-color: #cf4b5dba;
}

.add-button {
  background-color: #0dbd8b;
}

.add-button:hover {
  background-color: #0dbd8b8a;
}
.footer-row {
  display: flex;
}

.footer-row button {
  flex: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
</style>
