<script setup lang="ts">
import "regenerator-runtime/runtime";
import { store, changeCash as changeCashInStore } from "@/common/store";
import { reactive } from "vue";
import MatrixModal from "@/components/MatrixModal.vue";
import CashModal from "@/components/CashModal.vue";

const state = reactive({
  showLoginModal: false,
  showCashModal: false,
});

const props = defineProps<{
  userId: null | string;
  overallStats: null | {
    shares: number;
    cash: number;
    bids: number;
  };
}>();

const emit = defineEmits(["login"]);

function login(userId: string) {
  emit("login", userId);
}

function changeCash(cash: number) {
  if (!props.userId) return;
  changeCashInStore(props.userId, cash);
}

function resetStore() {
  store.predictions.splice(0, store.predictions.length);
  const initialPrediction: Prediction = {
    uuid: "notreallyauniqueid",
    timeline: [],
    end: "2022-12-31T23:59:59",
    description:
      "For the purpose of this prediction, an acquisition can also be a a granting of Erbbaurecht. Any acquisition counts as long as it is done by a group or club affiliated with Kanthaus.",
    title: "Next-door acquisition",
    condition:
      "YES wins if Kanthaus acquires the house adjacent (Kanstraße 24) before the prediction market ends.",
  };

  const secondPrediction: Prediction = {
    uuid: "someotheruniqueid",
    timeline: [],
    end: "2022-11-15T23:59:59",
    description:
      "The YES shares only win if the campaign becomes a referendum. If the campaign claims success and withdraws its appeal or for some other reason does not end up as a vote, the NO shares win.",
    title: "Berlin Autofrei",
    condition:
      "YES wins if the referendum 'Berlin Autofrei' collects enough signatures in the second phase to be put up to a vote.",
  };
  store.predictions.push(initialPrediction);
  store.predictions.push(secondPrediction);

  for (const k of Object.keys(store.cashBase)) {
    store.cashBase[k] = 0;
  }
}
</script>

<template>
  <div class="status-bar">
    <div class="matrix">
      <button @click="state.showLoginModal = !state.showLoginModal">
        Matrix Login
      </button>
      <span v-if="props.userId">logged in as {{ props.userId }}</span>
      <span v-else>not logged in</span>
    </div>
    <div v-if="props.overallStats" class="stats">
      <span>Cash: {{ "€" + (props.overallStats.cash / 100).toFixed(2) }}</span>
      <span
        >Shares: {{ props.overallStats.shares }} ({{
          props.overallStats.bids
        }}
        bids)</span
      >
    </div>

    <div class="helper" v-if="props.userId">
      <button @click="state.showCashModal = true">add/withdraw cash</button>
    </div>
    <button class="reset-button" @click="resetStore">reset market</button>
  </div>

  <MatrixModal
    v-if="state.showLoginModal"
    @close="state.showLoginModal = false"
    @login="login"
  />

  <CashModal
    v-if="state.showCashModal"
    :cash="props.overallStats?.cash ?? null"
    @close="state.showCashModal = false"
    @changeCash="changeCash"
  />
</template>

<style scoped>
.status-bar {
  background-color: lightgray;
  display: flex;
  padding: 5px;
  align-items: center;
}

.matrix {
  flex: 30%;
  display: flex;
  align-items: center;
}

.matrix button {
  background-color: #0dbd8b;
  margin-right: 10px;
}

.matrix button:hover {
  background-color: #0dbd8b8a;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.stats {
  flex: 60%;
  display: flex;
}

.stats span {
  margin-left: 15px;
}

.helper {
  flex: 10%;
}

.reset-button {
  position: fixed;
  background-color: #cf4b5d;
  width: 5em;
  height: 5em;
  bottom: 1em;
  right: 1em;
  border-radius: 3em;
  box-shadow: 0.5em 0.5em 0.5em #888888;
  z-index: 9999;
}

.reset-button:hover {
  background-color: #cf4b5dba;
}
span {
  font-size: small;
}
</style>
