<script setup lang="ts">
import "regenerator-runtime/runtime";
import { MatrixProvider } from "matrix-crdt";
import sdk, { MatrixClient, MatrixError } from "matrix-js-sdk";
import { store } from "@/common/store";
import { getYjsValue } from "@syncedstore/core";
import type { Doc } from "yjs/dist/src/utils/Doc";
import { reactive, ref, unref } from "vue";
import Modal from "./Modal.vue";

const BASE_URL = import.meta.env.VITE_MATRIX_BASE_URL as string;
const ROOM_ALIAS = import.meta.env.VITE_MATRIX_ROOM_ALIAS as string;

const loginData = reactive({
  host: BASE_URL,
  userId: "",
  secret: "",
  room: ROOM_ALIAS,
  loginType: "password",
});

const warning = ref("");
const loggingIn = ref(false);

let matrixProvider: MatrixProvider;
let matrixClient: MatrixClient;

const emit = defineEmits(["close", "login"]);

// utility
function prefillCrdt1() {
  loginData.host = BASE_URL;
  loginData.room = ROOM_ALIAS;
  loginData.secret = "syt_Y3JkdDE_GJAXCtXpLbbAQBjuhOHA_3bv4aj";
  loginData.userId = "@crdt1:matrix.org";
  loginData.loginType = "token"
}

function prefillCrdt2() {
  loginData.host = BASE_URL;
  loginData.room = ROOM_ALIAS;
  loginData.userId = "@crdt2:matrix.org";
  loginData.secret = "syt_Y3JkdDI_aVbXiSvVdwIUAFkqSWQU_2pTvKO";
  loginData.loginType = "token"
}

async function login() {
  loggingIn.value = true;
  if (matrixProvider) matrixProvider.dispose();

  // SET UP MATRIX CLIENT

  const matrixOpts = {
    baseUrl: loginData.host,
    userId: loginData.userId,
  };

  if (loginData.loginType === "token") {
    matrixClient = sdk.createClient({...matrixOpts, accessToken: loginData.secret});
  } else {
    matrixClient = sdk.createClient(matrixOpts)
    try {
      await matrixClient.login("m.login.password", {
        user: loginData.userId,
        password: loginData.secret
      })
    } catch (e) {
    if (e instanceof MatrixError) {
      switch (e.errcode) {
        case "M_FORBIDDEN":
          warning.value = "user or password not correct";
          break;
        default:
          warning.value = "encountered unknown error: " + e.errcode;
      }
    }
    loggingIn.value = false;
    return;
    }
  }
  // overwrites because we don't call .start();
  (matrixClient as any).canSupportVoip = false;
  (matrixClient as any).clientOpts = {
    lazyLoadMembers: true,
  };

  let roomId, joinedRoom

  try {
    roomId = await matrixClient.getRoomIdForAlias(loginData.room)
    joinedRoom = await matrixClient.joinRoom(roomId.room_id)
    } catch (e) {
    loggingIn.value = false;
    warning.value = "you are not allowed to join this room"
    return
  }
  const historyVisibility = joinedRoom.getHistoryVisibility()
  if (!["shared", "world_readable"].includes(historyVisibility)) {
    loggingIn.value = false;
    warning.value = "room does not allow reading its history"
    return
  }
    
  

  // SET UP MATRIX PROVIDER

  const doc = getYjsValue(store) as Doc;
  const room = { type: "alias" as "alias", alias: loginData.room };
  const opts = {
    translator: {
      updatesAsRegularMessages: true,
    },
  };
  matrixProvider = new MatrixProvider(doc, matrixClient, room, undefined, opts);
  try {
    await matrixProvider.initialize();
  } catch (e) {
    if (e instanceof MatrixError) {
      switch (e.errcode) {
        case "M_UNKNOWN_TOKEN":
          warning.value = "token not valid";
          break;
        default:
          warning.value = "encountered unknown error: " + e.errcode;
      }
    }
    loggingIn.value = false;
    return;
  }

  warning.value = "";
  emit("login", loginData.userId);
  emit("close");
  loggingIn.value = false;
}
</script>

<template>
  <Modal :class="{ inactive: loggingIn }">
    <template #header>Login to Matrix</template>


    <template #body>
      <p class="login-type-row">
        <div class="login-type-selector">
          <input
          type="radio"
          id="choosePass"
          value="password"
          v-model="loginData.loginType"
        />
        <label for="choosePass">Password</label>
        </div>
        <div class="login-type-selector">
          <input
          type="radio"
          id="chooseToken"
          value="token"
          v-model="loginData.loginType"
        />
        <label for="chooseToken">Token</label>
        </div>
      </p>
      <form class="login-form">
        <p>
          <label for="host">Matrix Host:</label>
          <input name="host" v-model="loginData.host" />
        </p>
        <p>
          <label for="userId">User ID:</label>
          <input name="userId" v-model="loginData.userId" />
        </p>

        <p>
          <label for="secret">{{
            loginData.loginType === "password" ? "Password" : "Token"
          }}</label>
          <input type="password" name="secret" v-model="loginData.secret" />
        </p>

        <p>
          <label for="room">Room Alias:</label>
          <input name="room" v-model="loginData.room" />
        </p>
      </form>
    </template>

    <template #footer>
      <div class="login-warning" v-if="warning">{{ warning }}</div>
      <div class="footer-row">
        <button
          class="modal-default-button"
          :disabled="loggingIn"
          @click="prefillCrdt1"
        >
          fill crdt1
        </button>
        <button
          class="modal-default-button"
          :disabled="loggingIn"
          @click="prefillCrdt2"
        >
          fill crdt2
        </button>
      </div>
      <div class="footer-row">
        <button
          class="modal-default-button cancel-button"
          :disabled="loggingIn"
          @click="$emit('close')"
        >
          Cancel
        </button>
        <button
          class="modal-default-button login-button"
          :disabled="loggingIn"
          @click="login"
        >
          Login
        </button>
      </div>
    </template>
  </Modal>
</template>

<style scoped>
.cancel-button {
  background-color: #cf4b5d;
}

.cancel-button:hover {
  background-color: #cf4b5dba;
}

.login-button {
  background-color: #0dbd8b;
}

.login-button:hover {
  background-color: #0dbd8b8a;
}
.footer-row {
  display: flex;
}

.footer-row button {
  flex: 50%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.inactive {
  cursor: wait !important;
}
.login-warning {
  color: red;
}
.login-form p {
  display: table-row;
}

.login-form {
  display: table;
  width: 100%;
}

.login-form input,
.login-form label {
  display: table-cell;
  margin-top: 5px;
}

.login-form input {
  margin-left: 5px;
  width: 100%;
}


.login-type-row {
  display: flex;
  width: 100%;
  margin: 0 0 0.2em 0
}

.login-type-selector {
  flex: 50%;
}

.login-type-selector input {
  margin-left: 0;
}

.login-type-selector label {
  margin-left: 0.2em
}

</style>
