<script setup lang="ts">
import { reactive } from "vue";
import AddPredictionModal from "./AddPredictionModal.vue";
const props = defineProps<{
  items: {
    title: string;
    uuid: string;
  }[];
}>();

const state = reactive({
  showAddPredictionModal: false,
});

const emit = defineEmits(["predictionSelected", "addPrediction"]);

function showAddPrediction() {
  state.showAddPredictionModal = true;
}
</script>

<template>
  <div class="nav">
    <div
      class="navItem"
      v-for="item in props.items"
      @click="emit('predictionSelected', item.uuid)"
    >
      <p>{{ item.title }}</p>
    </div>
    <div class="navItem add" @click="showAddPrediction">
      <p>+</p>
    </div>
  </div>

  <AddPredictionModal
    v-if="state.showAddPredictionModal"
    @close="state.showAddPredictionModal = false"
    @addPrediction="emit('addPrediction', $event)"
  >
  </AddPredictionModal>
</template>

<style scoped>
.nav {
  height: 100px;
  display: flex;
}

.navItem {
  width: 100px;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0.5em;
}

.navItem:hover {
  background: lightgoldenrodyellow;
}

.navItem.add p {
  font-size: xx-large;
}

.navItem p {
  text-align: center;
  font-size: small;
}
</style>
