<script setup lang="ts">
import { computed, reactive } from "vue";
import { placeOrCancelOrder, prices } from "@/common/store";
import * as uuid from "uuid";

const props = defineProps<{
  userId: string;
  outstandingOrders: OutstandingOrders;
  predictionId: string;
}>();

function submitOrCancel(price: Price, isBid: boolean, isCancellation: boolean) {
  const order: OrderOrCancellation = {
    userId: props.userId,
    uuid: uuid.v1(),
    isBid,
    price,
    isCancellation,
  };
  placeOrCancelOrder(order, props.predictionId);
}

const layoutOrders = computed(() => {
  const result: any = {};
  prices.forEach((p) => (result[p] = {}));

  let myHighestBid = 0;
  let myLowestAsk = 100;

  for (const price of prices) {
    const orders = props.outstandingOrders[price];
    const myOrder = orders.find((o) => o.userId === props.userId);

    if (myOrder) {
      if (myOrder.isBid && myOrder.price > myHighestBid)
        myHighestBid = myOrder.price;
      if (!myOrder.isBid && myOrder.price < myLowestAsk)
        myLowestAsk = myOrder.price;
    }
  }

  prices.forEach((price) => {
    const orders = props.outstandingOrders[price];
    const totalAmount = orders.length;

    result[price].total = {
      amount: totalAmount,
      isBid: orders[0]?.isBid ?? true,
    };

    const myAmount = orders.filter((o) => o.userId === props.userId).length;
    if (myAmount > 0) {
      result[price].my = [
        {
          amount: myAmount,
          isBid: orders[0].isBid,
        },
      ];
    } else {
      // add 0-amount orders so correct buttons get displayed
      result[price].my = [];
      if (price < myLowestAsk)
        result[price].my.push({ isBid: true, amount: 0 });
      if (price > myHighestBid)
        result[price].my.push({ isBid: false, amount: 0 });
    }
  });
  return result;
});

let state = reactive({
  explanationAlt: "hover over an element to see an explanation here",
  explanation: "",
  isActionHover: false,
});

type HoverType = "button" | "bar";

function setExplanation(type: HoverType, opts: any) {
  if (state.isActionHover) return;
  switch (type) {
    case "button": {
      const { isCancellation, isBid, price } = opts;
      state.explanation = `${isCancellation ? "Cancel" : "Place"} bid for one ${
        isBid ? "YES" : "NO"
      } share at ${isBid ? price : 100 - price}¢.`;

      state.explanationAlt = `(Equivalent to ${
        isCancellation ? "cancelling" : "placing"
      } ask to sell one ${isBid ? "NO" : "YES"} share at ${
        isBid ? 100 - price : price
      }¢.)`;

      state.isActionHover = true;
      break;
    }
    case "bar": {
      const { isBid, price, amount, isMine } = opts;
      state.explanation = `${
        isMine ? "You have placed" : "There are"
      } orders to buy up to ${amount} ${isBid ? "YES" : "NO"} shares at ¢${
        isBid ? price : 100 - price
      }.`;
      state.explanationAlt = "";
      state.isActionHover = false;
      break;
    }
  }
}

function resetExplanation() {
  state.explanationAlt = "hover over an element to see an explanation here";
  state.explanation = "";
  state.isActionHover = false;
}

// orders used for layouting, initiatlized with orders for 0 amount
</script>

<template>
  <div class="graph-wrapper">
    <div id="explanation" :class="{ action: state.isActionHover }">
      <p>{{ state.explanation }}</p>
      <p class="alt">{{ state.explanationAlt }}</p>
    </div>
    <dl id="market">
      <div v-for="price in prices" class="pricepoint" :id="`p-${price}`">
        <dt class="price-label">
          <span class="yes-price">{{ price + "¢" }}</span
          ><span class="no-price">{{ 100 - price + "¢" }}</span>
        </dt>
        <dd
          class="total"
          :class="[
            layoutOrders[price].total.amount === 0 ? 'hidden' : '',
            layoutOrders[price].total.isBid ? 'bid' : 'ask',
          ]"
          :style="`height:${layoutOrders[price].total.amount * 6}%`"
          @mouseover="
            setExplanation('bar', {
              isMine: false,
              isBid: layoutOrders[price].total.isBid,
              amount: layoutOrders[price].total.amount,
              price,
            })
          "
          @mouseleave="resetExplanation"
        ></dd>
        <dd
          v-for="order in layoutOrders[price].my"
          class="my"
          :class="[
            order.amount === 0 ? 'hidden' : '',
            order.isBid ? 'bid' : 'ask',
          ]"
          :style="`height:${order.amount * 6}%`"
          @mouseover="
            setExplanation('bar', {
              isMine: true,
              isBid: order.isBid,
              amount: order.amount,
              price,
            })
          "
          @mouseleave="resetExplanation"
        >
          <button
            class="place order"
            @click="submitOrCancel(price, order.isBid, false)"
            @mouseover="
              setExplanation('button', {
                price,
                isBid: order.isBid,
                isCancellation: false,
              })
            "
            @mouseleave="resetExplanation"
          ></button>
          <button
            v-if="order.amount > 0"
            class="cancel order"
            @click="submitOrCancel(price, order.isBid, true)"
            @mouseover="
              setExplanation('button', {
                price,
                isBid: order.isBid,
                isCancellation: true,
              })
            "
            @mouseleave="resetExplanation"
          ></button>
        </dd>
      </div>
    </dl>
  </div>
</template>

<style scoped>
#market {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row;
  height: 420px;
  background-color: none;
  border: medium solid black;
}

#graph-wrapper {
  width: 100%;
}

#explanation {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 60px;
  border: dashed blue 3px;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
}

#explanation > p {
  text-align: center;
  justify-content: center;
  margin: 0;
}

#explanation.action {
  border-color: red;
}
#explanation > p.alt {
  font-size: small;
  color: gray;
}
.price-label {
  top: 200px;
  position: absolute;
  height: 4%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: small;
}

.price-label:before {
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  top: 50%;
  border-top: thin solid black;
  content: "";
  position: absolute;
  left: 0px;
}

.pricepoint {
  width: 11.1%;
  display: block;
  position: relative;
}

.my.bid,
.my.ask {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(130, 130, 255);
  position: absolute;
}

.total.bid,
.total.ask {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: lightblue;
  position: absolute;
}

.bid {
  bottom: 225px;
}

.ask {
  top: 225px;
}

.order {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: calc(420px * 0.06 * 0.9);
  display: block;
  background: none;
  border: medium solid lightgray;
  color: black;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order:hover {
  border-color: black;
  color: black;
  background-color: lightgrey;
}

.order:before {
  font-family: monospace;
  font-size: x-large;
  vertical-align: center;
}

.place.order:before {
  content: "+";
}

.cancel.order:before {
  content: "-";
}

.bid .place.order {
  top: calc(-420px * 0.06 * 0.95);
}

.bid .cancel.order {
  top: calc(420px * 0.06 * 0.05);
}

.ask .place.order {
  bottom: calc(-420px * 0.06 * 0.95);
}

.ask .cancel.order {
  bottom: calc(420px * 0.06 * 0.05);
}

.bid .place.order:before {
  content: "+";
}

.hidden {
  visibility: hidden;
}

@media (hover: none) {
  #explanation {
    display: none;
  }
}
</style>
