<script setup lang="ts">
const props = defineProps<{
  userId: string;
  stats: Stats;
}>();
</script>

<template></template>

<style scoped>
.status {
  margin-top: 20px;
  padding: 5px;
}
.status > span {
  margin-right: 20px;
}
</style>
