<script setup lang="ts">
import * as uuid from "uuid";

import MatrixBar from "@/components/MatrixBar.vue";
import NavBar from "@/components/NavBar.vue";

import { enableVueBindings } from "@syncedstore/core";
import * as Vue from "vue";
import { computed, reactive, unref } from "vue";
import {
  deriveMarket,
  addPrediction as addPredictionToStore,
  store,
} from "./common/store";
import PredictionView from "./views/PredictionView.vue";

enableVueBindings(Vue);

const state: {
  userId: string | null;
  selectedPredictionId: string | null;
} = reactive({
  userId: null,
  selectedPredictionId: null,
});

const selectedPrediction = computed(() => {
  const foundPrediction = store.predictions.find(
    (p) => p.uuid === state.selectedPredictionId
  );

  if (!foundPrediction) {
    return null;
  }

  const { title, description, condition, end, uuid, timeline } =
    foundPrediction;

  const clearedMarket = deriveMarket(timeline);

  return {
    uuid,
    clearedMarket,
    context: {
      title,
      description,
      condition,
      end,
    },
  };
});

function setUserId(userId: string | null) {
  state.userId = userId;
}

function setPrediction(predictionId: string) {
  state.selectedPredictionId = predictionId;
}

function addPrediction(predictionData: {
  end: string;
  title: string;
  condition: string;
  description: string;
}) {
  const p: Prediction = {
    ...predictionData,
    timeline: [],
    uuid: uuid.v1(),
  };

  addPredictionToStore(p);
}

const overallStats = computed(() => {
  const userId = state.userId;
  if (userId === null) return null;

  const allPlayerStats = store.predictions.map((p) => {
    return deriveMarket(p.timeline).playerStats;
  });

  const starterValue = {
    shares: 0,
    bids: 0,
    cash: store.cashBase[userId] ?? 0,
  };

  const result = allPlayerStats.reduce((p, playerStats) => {
    return {
      shares:
        p.shares +
        (playerStats[userId]?.yesShares ?? 0) +
        (playerStats[userId]?.noShares ?? 0),
      bids:
        p.bids +
        (playerStats[userId]?.yesBids ?? 0) +
        (playerStats[userId]?.noBids ?? 0),
      cash: p.cash + (playerStats[userId]?.cash ?? 0),
    };
  }, starterValue);
  return result;
});

const navItems = computed(() => {
  return store.predictions.map((p) => {
    return { title: p.title, uuid: p.uuid };
  });
});
</script>

<template class="app">
  <header>
    <MatrixBar
      @login="setUserId"
      :userId="state.userId"
      :overallStats="overallStats"
    />
    <NavBar
      v-if="state.userId"
      :items="navItems"
      @predictionSelected="setPrediction"
      @addPrediction="addPrediction"
    />
  </header>
  <div class="content">
    <PredictionView
      v-if="state?.userId && selectedPrediction"
      :userId="state.userId"
      :clearedMarket="selectedPrediction.clearedMarket"
      :context="selectedPrediction.context"
      :predictionId="selectedPrediction.uuid"
    />
  </div>
</template>

<style>
@import url("@/assets/base.css");
</style>
